/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-analytics-1::before {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-analytics-2::before {
  background-image: url(../../img/sprite.png);
  background-position: -514px 0px;
  width: 512px;
  height: 512px;
}
.icon-analytics-3::before {
  background-image: url(../../img/sprite.png);
  background-position: 0px -514px;
  width: 512px;
  height: 512px;
}
.icon-analytics-4::before {
  background-image: url(../../img/sprite.png);
  background-position: -514px -514px;
  width: 512px;
  height: 512px;
}
.icon-analytics-5::before {
  background-image: url(../../img/sprite.png);
  background-position: -1028px 0px;
  width: 512px;
  height: 512px;
}
.icon-analytics-6::before {
  background-image: url(../../img/sprite.png);
  background-position: -1028px -514px;
  width: 512px;
  height: 512px;
}
.icon-analytics-7::before {
  background-image: url(../../img/sprite.png);
  background-position: 0px -1028px;
  width: 512px;
  height: 512px;
}
.icon-analytics::before {
  background-image: url(../../img/sprite.png);
  background-position: -514px -1028px;
  width: 512px;
  height: 512px;
}
